{% extends 'AppCoder/base.html' %}
{% load static %}

{% block title %} Acerca de mi {% endblock title %}

{% block main %}
</head>
<body>
    <h1>Acerca de la creadora</h1>
    <p>Somos los creadores de este sitio web y estamos emocionados de compartir nuestro proyecto contigo.</p>
    <p>Descripción del proyecto: Se trata de un proyecto que deja lugar a las personas a que puedan armar sus propios proyectos de ley que creen necesarios para la ciudadania Argentina.</p>
    <p>El objetivo principal es poder investigar luego las propuestas armadas por cada persona y llegar a una conclusion de que es lo que busca la gente para mejorar en el pais o que cosas les gustarian que se llevaran a cabo.</p>
</body>
</html>

{% endblock %}