{% extends 'AppCoder/base.html' %}
{% block title %} Lista de Blogs {% endblock title %}

{% block main %}
    
<ul>
        {% for blog in blogs %}
        <li>
            <h1>{{ blog.title }}</h1> <!-- Agrega un ancla con un identificador único antes de la lista de blogs -->
            <a id="blogs"></a>
            <p>Subtítulo: {{ blog.subtitle }}</p>
            <p>Autor: {{ blog.author }}</p>
            <p>Fecha de Publicación: {{ blog.pub_date }}</p>
            
            <!-- Código para mostrar la imagen -->

            <img src="{{ blog.image.url }}" alt="Imagen del Blog" class="imagen-pequena">

            
            <div>{{ blog.body }}</div>
        </li>
        {% endfor %}
    </ul>

    <ul>
        {% for page in pages %}
        <li>
            <h2>{{ page.title }}</h2>
            <p>{{ page.content }}</p>
            <a href="{% url 'page_detail' page.id %}">Leer más</a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
