<!DOCTYPE html>
<html lang-'en'>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyectos de ley</title>
</head>
<body style="background-color:  blue;">

</body> 
</html>

{% extends 'AppCoder/base.html' %}
{% load static %}

{% block section1 %}
<!-- Features section-->
<section class="py-5" id="features">
    <h1>Proyectos de Ley</h1>
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">Proyectos de Ley</h2></div>
            <div class="col-lg-8">
                <div class="row gx-5 row-cols-1 row-cols-md-2">
                    <div class="col mb-5 h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                        <h2 class="h5">Proyectos sobre Derechos Humanos</h2>
                        <p class="mb-0">Aquí apareceran los proyectos que tienen que ver con la tematica de los Derechos Humanos, los cuales son muy importantes en Argentina</p>
                    </div>
                    <div class="col mb-5 h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                        <h2 class="h5">Proyectos sobre la Educación</h2>
                        <p class="mb-0">Aquí podrás ver todos los proyectos que involucran el ámbito educativo en nuestro país.</p>
                    </div>
                    <div class="col mb-5 mb-md-0 h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                        <h2 class="h5">Proyectos sobre el Trabajo</h2>
                        <p class="mb-0">Aquí podrás observar todos los proyectos que tienen que ver con la cultura del trabajo en Argentina y sobre las relaciones laborales existentes en el país.</p>
                    </div>
                    <div class="col h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                        <h2 class="h5">Proyectos sobre la Economía</h2>
                        <p class="mb-0">Aquí podrás ver todos los proyectos relacionados a la economía Argentina, tanto proyectos internos como externos que tienen que ver mas con relaciones internacionales con otros países del mundo</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock section1 %}