{% extends 'AppCoder/base.html' %}
{% load static %}

{% block title %} Formulario {% endblock title %}

{% block main %}
    <hi>Proyectos de Ley - Congreso de la Nacion</hi>
    <ul>
        {% for proyecto in object_list %}

            <li>
                <p>NOMBRE: {{ proyecto.nombre }}</p>
                <p>
                    <a href="{% url 'Detail' proyecto.id %}">Ver</a> |
                    <a href="{% url 'Edit' proyecto.id %}">Editar</a> |
                    <a href="{% url 'Delete' proyecto.id %}">Borrar</a>

                </p>
            </li>
        {% endfor %}
    </ul>
 
{% endblock %}